html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vw
}

body {
  /* Buat bekgrond estetik */
}

.profile-picture {
  display: block;
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 30vw;
  aspect-ratio: 1 / 1;
}

.container .title {
  display: block;
  position: relative;
}

.title h2 {
  text-align: center;
  line-height: 32px;
  margin: 1vh 30vw;
  border-radius: 20px;
  background-color:#ffffff;

}

.title p {
  text-align: center;
  background-color: #ffffff;
  margin: 1vh 20vw;
  border-radius: 30px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}